################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppStartBlazor.Api/bin/Debug/netcoreapp3.1
/AppStartBlazor.Api/obj
/AppStartBlazor.Domain/bin/Debug/netcoreapp3.1
/AppStartBlazor.Domain/obj
